@font-face {
    font-family: "poppins";
    src: url('assets/font/Poppins-SemiBold.ttf');
}
a{
    text-decoration: none;
    color: white;
}
body{
    margin: auto;
    font-family: "poppins";
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

#header, #menu, #content, #footer{
    display: block;
}

#header{
    height: 90px;
    font-size: 20px;
    text-align: center;
    color: white;
    background-image: url(assets/img/header.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    padding: 50px ;
}

#menu {
    background-color: darkblue;
    padding: 10px;
    text-align: center;
}

#menu a{
    text-decoration: none;
    padding: 10px;
    color: white;
}

#menu a:hover{
    color: yellow;
}

button{
    padding: 10px 20px 10px 20px;
    background-color: darkblue;
    border: 0px;
    color: white;
    border-radius: 5px;
}

button:hover{
    background-color: white;
    color: darkblue;
    border: 2px solid darkblue;
    cursor: pointer;
  }

button a:hover{
    color: darkblue;
}

th{
    border-bottom: 1px solid black;
}

th, td {
    padding: 10px;
}

tfoot{
    text-align: center;
}

.content{
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 8px;
    width: 90%;
    height: 50vh;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#about{
    padding: 50px;
}

#footer{
    padding: 20px;
    color: white;
    text-align: right;
    padding-right: 30px;
    background-color: darkblue;
}